@{
    Layout = "~/Views/Shared/_NoMarginLayout.cshtml";
}
@model List<Facility>
<div id="shapes" hidden>@ViewBag.Shapes</div>

<div class="row">
  <div class="col-md-12" id="column">
    <div id="map"></div>
  </div>
</div>


<div class="row col-md-12">

    <!-- helper container, div pushed to bottom -->
    <div class="helpercontainer text-center hidden-sm hidden-xs hidden-md" id="helpercontainer">
        <h3 style="color:#fffaee; cursor: default;" id="helper"> Select a facility from the map, <br/> or search the table</h3>
    </div>

    <!-- table of facilities, div pushed to left -->
    <div class="tablecontainer" id="tablecontainer">
        <input id="search" class="form-control searchbar" type="text" placeholder="Search...">
        <table id="dt" class="table table-striped dataTable" cellspacing="0">
            <thead>
            </tr>
                <tr>
                    <th style="width:10% !important;" class="all"></th>
                    <th style="width:40% !important;"class="all">Facility</th>
                    <th style="width:20% !important;">Neighborhood</th>
                </tr>
            </thead>
            <tbody>
            @foreach(Facility item in Model)
            {
            @Html.Partial("~/Views/Home/_Facility.cshtml", item)
            }
            </tbody>
        </table>
    </div>
</div>

<!-- user's submitted items, dialog -->
<div id="items" hidden>@ViewBag.Items</div>
<div id="dialog" title="Your submitted requests" class="useritems" style="margin-top: 10px;">
<table id="dtui" class="table table-striped dataTable" cellspacing="0" width="100%">
        <thead>
        </tr>
            <tr>
                <th>Submitted</th>
                <th>Status</th>
                <th>Facility</th>
                <th>Issue</th>
                <th class="none">Description</th>
                <th class="none">Location</th>
                <th class="none">Last Modified</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var Request in ViewBag.Requests)
        {
        <tr>
            <td>
            <div>@Request.Submitted</div>
            </td>   
            <td>
            <div>@Request.Status</div>
            </td>
            <td>
            <div>@Request.FacilityName</div>
            </td> 
            <td>
            <div>@Request.Issue</div>
            </td> 
            <td>
            <div>@Request.Description</div>
            </td>  
            <td>
            <div>@Request.LocationDescription</div>
            </td>  
            <td>
            <div>@Request.LastActivity</div>
            </td>  
        </tr>
        }
        </tbody>
    </table>
    <h5 style="text-align:center; font-style: italic;"><b>Notice:</b> The hours of operation for DPW are 7:00 AM to 3:00 PM, Monday through Friday</h5>
</div>  

<!-- work order form -->
<div id="form" class="form-card" hidden>
    <form id="formdata" method="post" class="form">
    <input name="Name" id="formname" required hidden>
    <div class="row" style="overflow:visible">
        <div class="col-md-12" id="requestcard">
            <h3>Report an issue</h3>
            <div class="form-group" style="margin-bottom: 5px;">
                <div class="col-md-12">
                    <h5 class="form-h5">Select an issue type</h5>
                    <select id="Issue" name="Issue" data-style="btn-info" class="selectpicker btn-form-control" title="Issue types" required="true" data-dropup-auto="false" onchange="throwcontacts()" required>
                        @foreach(var Issue in ViewBag.Issues)
                        {
                        <option>@Issue.Name</option>
                        }
                    </select>
                    <label for="Issue" class="error" hidden></label>
                </div>
            </div>
            <div id="formfields">
                <div class="form-group">
                    <div class="col-md-12">
                        <h5 class="form-h5">Describe the issue</h5>
                        <textarea name="Description" class="form-control" placeholder="Description" onkeyup="textAreaAdjust(this)" required></textarea>
                        <label for="Description" class="error" hidden></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h5 class="form-h5">Describe the location</h5>
                        <textarea name="LocationDescription" class="form-control" placeholder="Room, floor, etc."onkeyup="textAreaAdjust(this)" required></textarea>
                        <label for="LocationDescription" class="error" hidden></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h5 class="form-h5">Enter your phone number</h5>
                        <input name="Phone" class="form-control" placeholder="Phone number" required>
                        <label for="Phone" class="error" hidden></label>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <input style="margin: 10px 0; width: 85%; font-weight: bold; border-radius: 5px;" onclick="submititem()" value="Submit" class="btn btn-default"/>
                </div>
                <div class="col-md-12">
                    <input style="margin: 10px 0; width: 65%; border-radius: 10px; font-size: 14px;" type="button" value="Start over" onclick="back()" class="btn btn-default back"/>
                </div>
            </div>
            <div id="alternativeprompt" class="alternativeprompt" hidden></div>
        </div>
    </div>
    </form>
</div>

